# Core functionality - changes here should be rare!
/src/app.py                   @shourya011
/src/backend/database.py      @shourya011
/src/backend/routers/auth.py  @shourya011

# The frontend will need refactored soon to be more object oriented.
/src/static/   @shourya011
